<div th:fragment="form">
	
	<div class="card-body">
	
	
	
	    
    
    
    <div class="form-group row align-items-center mb-0">
    <label th:for="#{name}" th:text="#{name}" class="col-3 text-right control-label col-form-label">></label>
    <div class="col-9 border-left pb-2 pt-2">
	    <input class="form-control" th:classappend="${#fields.hasErrors('name')}? 'is-invalid':'' " type="text" th:field="*{name}" th:id="${name}" th:placeholder="#{name}">
	    <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    </div>
    
    
    
    
    
    
    
    
    
      
    
	</div>
    

    
     
 
</div>